.ticket-container{
  padding-top: 30px;
  width: 1400px;
  margin: 0 auto;
}

.banner{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.banner-img{
  width: 472px;
}
.img-detail{
  padding: 20px 30px;
}
.img-title{
  color: var(--red);
  font-family: 'Nunito';
  font-size: 80px;
}
.under-title{
  font-size: 19px;
  color: var(--lightBlue);
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  width: 100%;
}
.img-description{
  font-family: 'Nunito';
  font-size: 20px;
}
.line-div{
  margin: 7px 0 30px 0;
  border-bottom: 1px solid rgba(175, 175, 175, 0.637);
}

:root {
  --primary-color: #111;
  --secondary-color: #a8adb3;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}


.container-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  padding: 0;
  border-radius: 10px;
}

.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.center-tab{
  margin: 0 35px;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
}

input[type="radio"]:checked + label > .notification {
  background-color: var(--primary-color);
}

input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
  transform: translate(149%);
}
input[id="radio-3"]:checked ~ .glider{
  transform: translate(296%);
}


.glider {
  position: absolute;
  display: flex;
  height: 70px;
  width: 70px;
  background-color: var(--red);
  z-index: 1;
  border-radius: 100%;
  transition: 0.25s ease-out;
}
.buy-title{
  font-size: 60px;
  font-family: 'Nunito';
}
.container-tab{
  margin: 8px 0 20px 0;
}
.buy-ticket{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
/*
.svg-bus{
  stroke: #fff;
  color: #fff;
}
.svg-train{
  stroke: #fff;
  fill: #fff;
  color: #fff;
}
.svg-air{
  stroke: #fff;
}


*/
.ticket-form > div > label{
  font-size: 20px;
  font-family: 'Nunito';
  transform: translate(20px, 40px);
  color: #a8adb3;
}
.ticket-form > div > input{
  font-size: 24px;
  width: 270px;
  height: 45px;
  outline: none;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #a8adb3;
}
.inp-div{
  display: flex;
  flex-direction: column;
}

.ticket-form{
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 20px;
  margin-bottom: 100px;
}
.submit-btn{
  width: 280px;
  height: 73px;
  outline: none;
  border: none;
  font-size: 24px;
  font-family: 'Nunito';
  background-color: var(--red);
  grid-column: 1 / 3;
}
.submit-btn:hover{
  background-color: var(--lightBlue);
}
.submit-btn:active{
  color: #fff;
  background-color: var(--darkBlue);
}
.div-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 2;
  margin-top: 20px;
}
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}