{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block define_style %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'base-style/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'base-style/css/media-queries.css' %}">



</head>

<body spellcheck="false">
    <div class="flex-con">

        <div class="header">
            <div class="sign-log">
                {% if request.user.is_authenticated %}
                    <p class="logged" href="{% url 'accounts:signup' %}">
                    {{request.user.first_name}} {{request.user.last_name}}
                    </p>
                    <a class="header-btn logout-btn" href="{% url 'accounts:logout' %}">
                        logout
                    </a>
                {% else %}
                    <a class="header-btn signin-btn" href="{% url 'accounts:signup' %}">
                        sign in
                    </a>
                    <a class="header-btn login-btn" href="{% url 'accounts:login' %}">
                        login
                    </a>
                {% endif %}
            </div>
            <ul class="menu">
                <li class="menu-item"><a class="menu-btn" href="{% url 'website:home' %}">Home</a></li>
                <li class="menu-item"><a class="menu-btn" href="{% url 'website:about' %}">About us</a></li>
                <li class="menu-item"><a class="menu-btn" href="{% url 'website:panel' %}">Panel</a></li>
                <li class="menu-item"><a class="menu-btn" href="{% url 'website:questions' %}">Questions</a></li>
            </ul>
            <div class="header-logo">
                <div class="search-logo">
                    <i class="gg-search"></i>
                </div>
                <div class="menu-logo">
                    <i class="gg-menu-motion"></i>
                </div>
            </div>

        </div>

        <div class="search-field">
            <form action="">
                <input class="field-header-search" type="search" placeholder="search...">
                <input class="submit-header-search" type="submit" placeholder="search">
            </form>
        </div>

        <div class="menu-burger">
            <ul class="menu-burger-list">
                <li class="menu-burger-item"><a class="menu-btn" href="{% url 'website:home' %}">Home</a></li>
                <li class="menu-burger-item"><a class="menu-btn" href="{% url 'website:about' %}">About us</a></li>
                <li class="menu-burger-item"><a class="menu-btn" href="{% url 'website:panel' %}">Panel</a></li>
                <li class="menu-burger-item"><a class="menu-btn" href="{% url 'website:questions' %}">Questions</a></li>
            </ul>

        </div>












        {% block content %}


        {% endblock %}

































        <div class="background-footer">
            <div class="footer">

                <div class="footer-logo-text">

                    <img class="footer-logo" src="{% static 'base-style/img/footer_logo.png' %}" alt="">
                    <div class="footer-text">
                        <p>5th flora, 700/D kings road, green</p>
                        <p>lane New York-1782</p>
                        <p>+10 367 826 2567</p>
                        <p>contact@carpenter.com</p>
                    </div>
                </div>


                <div class="footer-content">
                    <h2 class="footer-title">Popular Destination</h2>
                    <ul class="footer-list">
                        <li><a class="footer-item" href="">Indonesia</a></li>
                        <li><a class="footer-item" href="">America</a></li>
                        <li><a class="footer-item" href="">India</a></li>
                        <li><a class="footer-item" href="">Switzerland</a></li>
                        <li><a class="footer-item" href="">Italy</a></li>
                        <li><a class="footer-item" href="">Canada</a></li>
                        <li><a class="footer-item" href="">French</a></li>
                        <li><a class="footer-item" href="">Englad</a></li>
                    </ul>


                </div>
            </div>


        </div>

    </div>












    {% block add_js %}

    {% endblock %}


</body>

</html>