{% extends "base.html" %}
{% load static %}
{% load website_tags %}


{% block define_style %}
<link rel="stylesheet" href="{% static 'home-style/css/home.css' %}">
<link rel="stylesheet" href="{% static 'home-style/css/media-queries.css' %}">
<title>Home</title>
{% endblock %}


{% block content %}

<div class="banner">
    <h1 class="banner-title">Australia</h1>
    <h3 class="banner-text">Pixel perfect design with awesome contents</h3>
    <button class="btn explore-btn">Explore Now</button>
</div>

<div class="input-box">
    <form class="inputs" action="">
        <h3 class="input-text">Where you want to go?</h3>
        <input class="search-input" type="search" placeholder="Where to go?">
        <input class="search-input" type="search" placeholder="Where to go?">
        <input class="search-input" type="search" placeholder="Where to go?">
        <input class="btn submit-btn" type="submit" placeholder="Search">
    </form>
</div>


<div class="main-content">
    <h1 class="main-title">Popular Destination</h1>
    <h6 class="main-text">Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit
        hella wolf moon beard words.</h6>
    <div class="imgs-box">



        {% for dest in dests %}
        {% if dest.status == 1 %}
        <a class="img-content" href="/ticket/{{dest.id}}">
            <img src="{{dest.img.url}}" alt="">
            <div class="img-text">
                <h2 class="country">{{dest.city_id|split_dash}}</h2>
                <h3 class="number-places">07 Places</h3>
            </div>
            <div class="backdrop-content"></div>


        </a>
        {% endif %}
        {% endfor %}


    </div>



    <div class="pagination">
        <span class="step-links">
            {% if dests.has_previous %}
            <a href="?page={{ dests.previous_page_number }}">
                <div class="svg-ic">
                    <svg class="pag-ic" xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                        class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path
                            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>
                </div>

            </a>
            {% endif %}

            <span class="current">
                {% for i in dests.paginator.page_range %}
                <a href="?page={{i}}">{{i}}</a>
                {% endfor %}
            </span>

            {% if dests.has_next %}
            <a href="?page={{ dests.next_page_number }}">
                <div class="svg-ic">
                    <svg class="pag-ic" xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                        class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                </div>

            </a>
            {% endif %}
        </span>
    </div>











    <div class="input-subscribe">
        <div class="subscribe-content">
            <div class="subscribe">
                <h1 class="subscribe-title">Subscribe Our Newsletter</h1>
                <h6 class="subscribe-text">subscribe newsletter to get offers and about new places to discover</h6>
            </div>
            <form action="" class="form-subscribe">
                <input type="email" class="search-subscribe" placeholder="Your mail">
                <input type="submit" class="btn submit-subscribe" value="Subscribe">
            </form>
        </div>



        <div class="backdrop"></div>
    </div>

    <div class="footer-video">
        <h1 class="video-title"> Enjoy Video</h1>

        <div class="video-logo">
            <i class="gg-play-button-o"></i>
        </div>
    </div>

</div>

{% endblock %}


{% block add_js%}
<script src="{% static 'home-style/js/app.js' %}"></script>
{% endblock%}