{% extends "base.html" %}
{% load static %}


{% block define_style %}
<link rel="stylesheet" href="{% static 'panel-style/css/panel.css' %}">
<link rel="stylesheet" href="{% static 'panel-style/css/media-queries.css' %}">
<title>Panel</title>
{% endblock %}


{% block content %}





<div class="panel-container">

    <div class="panel-head">
        <div class="panel-title">
            <h3>Panel <span>Managment</span></h3>
            <p>In this page you can find information about your previous travels and current tickets. You can
                also change your information and profile.</p>
        </div>
    </div>









    <h2>Personal</h2>
    <div class="personal-panel-box panel-box" id="personal">
        <form action="#" method="post" class="form">
            <div class="grid-container">
                <div class="inp-box">
                    <p>name: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="text" class="personal-input" placeholder="first name">
                        <button class="personal-btn">
                            <i class="gg-pen gg-personal"></i>
                        </button>
                    </div>
                </div>


                <div class="inp-box">
                    <div class="personal-inp-box form-inp">
                        <input type="text" class="personal-input" placeholder="last name">
                        <button class="personal-btn">
                            <i class="gg-pen gg-personal"></i>
                        </button>
                    </div>
                </div>

                <div class="inp-box">
                    <p>phone: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="tel" class="personal-input">
                        <button class="personal-btn">
                            <i class="gg-pen gg-personal"></i>
                        </button>
                    </div>
                </div>

                <div class="inp-box">
                    <p>email: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="email" class="personal-input">
                        <button class="personal-btn">
                            <i class="gg-pen gg-personal"></i>
                        </button>
                    </div>
                </div>

                <div class="inp-box date-inp">
                    <p>birthday: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="date" class="personal-input">
                        <button class="personal-btn">
                            <i class="gg-pen gg-personal"></i>
                        </button>
                    </div>
                </div>
            </div>


            <input type="submit" class="submit-personal submit-btn" value="apply change">


        </form>








    </div>













    <h2>Travel</h2>
    <div class="traveled-panel-box panel-box" id="personal">
        <form action="#" method="post" class="form">
            <div class="travel-grid-container">
                <div class="inp-box item1">
                    <p>favorite location: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="text" class="personal-input inp-loc">
                        <button class="travel-btn">
                            <i class="gg-pen gg-travel"></i>
                        </button>
                    </div>
                </div>


                <div class="inp-box item2">
                    <p>last name: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="text" class="personal-input">
                        <button class="travel-btn">
                            <i class="gg-pen gg-travel"></i>
                        </button>
                    </div>
                </div>

                <div class="inp-box item3">
                    <p>phone: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="tel" class="personal-input">
                        <button class="travel-btn">
                            <i class="gg-pen gg-travel"></i>
                        </button>
                    </div>
                </div>

                <div class="inp-box item4">
                    <p>email: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="email" class="personal-input">
                        <button class="travel-btn">
                            <i class="gg-pen gg-travel"></i>
                        </button>
                    </div>
                </div>

            </div>



            <input type="submit" class="submit-travel submit-btn" value="apply change">


        </form>








    </div>

















    <h2>Security</h2>
    <div class="security-panel-box  panel-box" id="personal">
        <form action="#" method="post" class="form">
            <div class="security-grid-container">
                <div class="inp-box">
                    <p>username: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="text" class="personal-input">
                        <button class="security-btn">
                            <i class="gg-pen gg-security"></i>
                        </button>
                    </div>
                </div>


                <div class="inp-box">
                    <p>password: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="password" class="personal-input" placeholder="Old">
                    </div>
                </div>

                <div class="inp-box">
                    <p>password: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="password" class="personal-input" placeholder="New">
                        <button class="security-btn">
                            <i class="gg-pen gg-security"></i>
                        </button>
                    </div>
                </div>

                <div class="inp-box">
                    <p>confirm: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="password" class="personal-input">
                    </div>
                </div>

            </div>



            <input type="submit" class="submit-security submit-btn" value="apply change">


        </form>








    </div>



</div>


{% endblock %}


{% block add_js%}
<script src="{% static 'panel-style/js/app.js' %}"></script>
{% endblock%}