{% extends "base.html" %}
{% load static %}


{% block define_style %}
<link rel="stylesheet" href="{% static 'panel-style/css/panel.css' %}">
<link rel="stylesheet" href="{% static 'panel-style/css/media-queries.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<title>Panel</title>
{% endblock %}


{% block content %}





<div class="panel-container">

    <div class="panel-head">
        <div class="panel-title">
            <h3>Panel <span>Managment</span></h3>
            <p>In this page you can find information about your previous travels and current tickets. You can
                also change your information and profile.</p>
        </div>
    </div>









    <h2>Personal</h2>
    <div class="personal-panel-box panel-box" id="personal">
        <form action="{% url 'website:panel' %}" method="post" class="form">
            {% csrf_token %}
            <div class="grid-container">
                <div class="inp-box">
                    <p>name: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="text" name="first_name" class="personal-input" value="{{request.user.first_name}}">
                    </div>
                </div>


                <div class="inp-box">
                    <p>lastname: </p>

                    <div class="personal-inp-box form-inp">
                        <input type="text" name="last_name" class="personal-input" value="{{request.user.last_name}}">


                    </div>
                </div>

                <div class="inp-box">
                    <p>phone: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="tel" name="phone" class="personal-input" value="{{request.user.phone}}">


                    </div>
                </div>

                <div class="inp-box">
                    <p>email: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="email" name="email" class="personal-input" value="{{request.user.email}}">


                    </div>
                </div>

                <div class="inp-box">
                    <p>username: </p>
                    <div class="personal-inp-box form-inp">
                        <input type="text" name="username" class="personal-input" id="username" value="{{request.user.username}}">
                        <i class="bi-eye" id="togglePassword"></i>
                    </div>
                </div>

            </div>
            <input type="submit" name="submit" class="submit-personal submit-btn" value="apply change">


        </form>








    </div>































</div>


{% endblock %}


{% block add_js%}
<script src="{% static 'panel-style/js/app.js' %}"></script>
{% endblock%}