{% extends "base.html" %}
{% load static %}
{% load website_tags %}


{% block define_style %}
<link rel="stylesheet" href="{% static 'questions-style/css/questions.css' %}">
<link rel="stylesheet" href="{% static 'questions-style/css/media-queries.css' %}">
<title>Questions</title>
{% endblock %}


{% block content %}



<div class="ques-box">
    <h2>Frequently Asked Questions</h2>
    <p>Lorem ipsum dolor sit amet consectetur. Et dolor pretium convallis gravida natoque maecenas. Pulvinar
        orci diam massa vel molestie non et.</p>





    <div class="comments">
        <div class="any-comment">
            {% for comment in comments %}



            {% if comment.ref_id == none %}
            <div class="comment-origin">
                <div class="comment-text">
                    <div>
                        <p class="first-name">{{comment.title}}</p>
                        <p class="comment-discrption">
                            {{comment.message}}
                        </p>

                    </div>

                    <div class="options-comment">
                        <form action="{% url 'website:questions' %}" method="post" class="reply">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{request.user.id}}">
                            <input type="hidden" name="ref_id" value="{{comment.id}}">
                            <input type="text" name="message" placeholder="Reply text...">
                            <input type="hidden" name="title" value="Reply to {{comment.title}}">
                            <input type="submit" value="Comment">
                        </form>
                        <button class="see-more-comment">
                            More
                        </button>
                    </div>


                </div>

                <div class="last-part-comment">
                    <div class="comment-line-between">
                        <div class="white-circle w-circle-1"></div>
                        <div class="line-between"></div>
                        <div class="white-circle w-circle-2"></div>
                    </div>
                    <div class="comment-img-info">


                        <div class="cir1 circle"></div>
                        <div class="cir2 circle"></div>
                        <div class="cir3 circle"></div>

                        <img src="{{comment.user_id.profile_pic.url}}" alt="">
                        <p class="last-name">{{comment.user_id.username}}</p>
                    </div>
                    
                </div>


            </div>
            {% endif %}

            {% get_replies comment as var %}
            {% for rep in var %}
            <section class="sub-comment">
                <div class="comment-text">
                    <p class="first-name">{{rep.title}}</p>
                    <p class="comment-discrption">
                        {{rep.message}}
                    </p>
                </div>
                <div class="last-part-comment">
                    <div class="comment-line-between">
                        <div class="white-circle w-circle-1-sub"></div>
                        <div class="line-between"></div>
                        <div class="white-circle w-circle-2-sub"></div>
                    </div>
                    <div class="comment-img-info">


                        <div class="cir1 circle"></div>
                        <div class="cir2 circle"></div>
                        <div class="cir3 circle"></div>

                        <img src="{{comment.user_id.profile_pic.url}}" alt="">
                        <p class="last-name">{{rep.user_id.username}}</p>
                    </div>

                </div>

            </section>

            {% endfor %}


            {% empty %}


            {% endfor %}

        </div>











    </div>

    <div class="form-container">
        <form action="{% url 'website:questions' %}" method="post" class="comment-form">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{request.user.id}}">
            <div class="input-container">
                <input type="text" name="title" id="title" placeholder="Title">
                <textarea name="message" id="message" placeholder="Your message"></textarea>
                <input type="submit" value="Submit" id="submit">
            </div>
        </form>
    </div>





</div>




{% endblock %}


{% block add_js%}
<script src="{% static 'questions-style/js/app.js' %}"></script>
{% endblock%}