{% extends "base.html" %}
{% load static %}


{% block define_style %}
<link rel="stylesheet" href="{% static 'signup-style/css/signup.css' %}">
<link rel="stylesheet" href="{% static 'signup-style/css/media-queries.css' %}">

<title>SignUp</title>
{% endblock %}


{% block content %}



<div class="sign-box">
    <h1 class="signup-text">Sign<span class="up-in-signup">up</span></h1>
    <div class="line-under-signup"></div>
    <div class="signup-box">

        <form action="{% url 'accounts:signup' %}" method="post" class="signup">
            {% csrf_token %}
            <label class="username-lbl" for="first_name_id">your Name: </label>
            <input class="log-inp username" type="text" id="first_name_id" name="first_name">

            <label class="username-lbl" for="last_name_id">your Last name: </label>
            <input class="log-inp username" type="text" id="last_name_id" name="last_name">

            <label class="username-lbl" for="username_id">Username: </label>
            <input class="log-inp username" type="text" id="username_id" name="username">

            <label class="password-lbl" for="password1">Password: </label>
            <input class="log-inp pass" type="password" id="password1" name="password1">


            <label class="password-lbl" for="password2">Confirm password: </label>
            <input class="log-inp pass" type="password" id="password2" name="password2">


            <label class="phone-lbl" for="phone_id">Phone number: </label>
            <input class="log-inp phone" type="tel" id="phone_id" name="phone">


            <label class="phone-lbl" for="NationalCode">National Code: </label>
            <input class="log-inp phone" type="text" id="NationalCode" name="national_code">



            <input class="log-inp submit" type="submit" value="submit">

        </form>













        <div class="line-under-input"></div>
        <div class="new-acc">
            <p>Do you have an account?</p>
            <div class="container-tab">
                <div class="tabs">
                    <input type="radio" id="radio-1" name="tabs" checked />
                    <label class="tab" for="radio-1">register</label>
                    <input type="radio" id="radio-2" name="tabs" onclick="change_loc('../login/login.html')" />
                    <label class="tab" for="radio-2">login</label>
                    <span class="glider"></span>
                </div>
            </div>

        </div>

    </div>
</div>



{% endblock %}


{% block add_js%}
<script src="{% static 'signup-style/js/app.js' %}"></script>
{% endblock%}